* {
  margin: 0;
  padding: 0;
}

/* 斜体文字不倾斜 */
em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}


button {
  /* 当鼠标经过button变成小手 */
  cursor: pointer;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #c81623;
}

button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

body {
  /* 抗锯齿 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
}



.hide,
.none {
  display: none;
}

.clearfix {
  visibility: hidden;
  clear: both;
  display: block;

  content: ".";
  height: 0;
}


.clearfix {
  *zoom: 1;
}